/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.interfaceClass {
    margin-top: 70px;
    margin-bottom: 70px;
    height: 850px;
    width: 550px;
    border-radius: 20px;
    background-color: rgb(206, 85, 10);
}

.headerClass {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50px;
    background-color: rgb(183, 82, 32);
}

.listClass {
    color: white;
    background-color: rgb(234, 96, 10);
    border-radius: 20px;
    font-size: 14px;
}

.roundButton {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    font-size: 25px;
    align-items: center;
    background-color: rgb(232, 145, 14);
    color: white;
    border: none;
}

.roundButton:hover {
    background-color: rgb(232, 218, 14);
    color: rgb(197, 191, 191);
}

.roundButton:active {
    background-color: rgb(255, 123, 0);
    color: rgb(160, 154, 235);
}

.claseElemento {
    background-color: orange;
    border-radius: 10px;
}

.claseElemento:hover {
    background-color: rgb(238, 255, 0);
    color: aqua;
}

.claseElemento:active {
    background-color: rgb(255, 123, 0);
    color: rgb(160, 154, 235);
}